/* FOOTER */
footer {
    background-color: #d1c4e9;
    font-family: var(--font-primary);
    font-size: 20px;
    padding: 6px;
    height: 8vh;
    align-items: center;
    justify-content: space-evenly;
}
    
